h1 {
  color: purple;
}

.song {
  text-align: center;
  float: left;
  margin: 10px;
  width: 210px;
  padding: 4px;
  border: 1px solid #bbb;
  border-radius: 5px;
}

.song h2 {
  font-size: 18px;
  margin: 4px auto;
}

.song p {
  font-style: italic;
}
